.IncidentList{
    width : 90%;
    height: 300px;
    display: flex;
    flex-wrap:no-wrap;
    justify-content: space-around;
    align-items: center;
    margin: 5% auto;
    overflow-x:scroll;
    -webkit-overflow-scrolling: touch;
    
}
.IncidentList::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.incidentForm{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#317fdb42;
    padding: 10px;
    width: 100%;
    margin: auto;
}
.darkincidentForm{
    background-color:#43484d;
    color: rgb(201, 136, 57);
}
.darkincidentForm input, .darkincidentForm select{
    background-color: #d9d9d9;
}